* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

body {
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.flex-container {
    display: flex;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51.5%,-50%) rotate(1deg);
    width: 40vw;
    height: 80vh;
    opacity: 0.1;
}

.container-zubereitung {
    min-height: 100vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.8);
    border-right: 1px solid white;
    text-align: center;
}

.container-abholung {
    min-height: 100vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 1px solid white;
    text-align: center;
}

.container-abholung ul, .container-zubereitung ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 4vw;
    margin: 20px;
    color: white;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.container-zubereitung h1 {
    background-color: rgb(17, 124, 138);
}

.container-abholung h1 {
    background-color: green;
}

.order-element {
    width: 23vw;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

i {
    pointer-events: none;
}

